extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Matthew Grant

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Hi, I am Matthew. I am an aspiring Full Stack JavaScript developer. I am currently completing the Treehouse Tech Degree program for this and am looking to turn the skills that I have learned from it into a new career. Through this new challenge I have begun to develop a foundation that I hope to build on through an opportunity with a company that will value my current skillset as well as giving me the chance to further grow my abilities. 
           
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li Node.js
          li Pug
          li Fetch API
          li Object-Oriented JavaScript
          li AJAX
          li JSON
          li jQuery
          li JavaScript
          li CSS
          li HTML 
          //- li Etc.
        h6 Contact Info

        ul
          li 937-631-0112
          li mwg.webdev@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/matt-grant-20892268/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/mattwgrant' target='_blank') GitHub
        //- a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  